.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.todo span {
    font-size: 1.2rem;
    text-align: start;
    width: 100%;
}
input.check_todo{
    width: 1.5rem;
    height: 1.5rem;
}

.task_done{
    text-decoration: line-through;
    font-style: italic;
    color: #149ECA;
    
}
button.delete_task{
    background-color: transparent;
    border: none;
}
.icon_delete{
    font-size: 1.2rem;
    cursor: pointer;
}
.icon_delete:hover{
    color: #149ECA;
}